<section class="form-section">

  <form [formGroup]="createDealForm">

    <label for="deal-name">Deal Name: </label>
    <input id="deal-name" type="text" formControlName="dealName">

    <label for="purchase_price">Price: </label>
    <input id="purchase_price" type="text" formControlName="purchasePrice">

    <label for="address">Address: </label>
    <input id="address" type="text" formControlName="address">

    <label for="noi">Net Operating Income: </label>
    <input id="noi" type="text" formControlName="noi">

    <label for="cap_rate">Cap Rate: </label>
    <input id="cap_rate" type="text" formControlName="capRate">

  </form>

</section>