<section class="form-section">

  <form class="form-section__wrapper" [formGroup]="createDealForm" (submit)="createDeal(createDealForm.value)">

    <!-- DEAL NAME -->
    <mat-form-field class="form-section__input" appearance="outline">
      <mat-label>Deal Name:</mat-label>
      <input matInput formControlName="dealName" type="text">
      <mat-error *ngIf="createDealForm.controls['dealName'].touched && createDealForm.controls['dealName'].invalid">
        <span *ngIf="createDealForm.controls['dealName'].errors?.['required']">Mandatory field.</span>
      </mat-error>
    </mat-form-field>

    <!-- DEAL PRICE -->
    <mat-form-field class="form-section__input" appearance="outline">
      <mat-label>Price:</mat-label>
      <input matInput formControlName="purchasePrice" type="number">
      <mat-error
        *ngIf="createDealForm.controls['purchasePrice'].touched && createDealForm.controls['purchasePrice'].invalid">
        <span *ngIf="createDealForm.controls['purchasePrice'].errors?.['required']">Mandatory field.</span>
      </mat-error>
    </mat-form-field>

    <!-- DEAL ADDRESS -->
    <mat-form-field class="form-section__input" appearance="outline">
      <mat-label>Address:</mat-label>
      <input matInput formControlName="address" type="text">
      <mat-error *ngIf="createDealForm.controls['address'].touched && createDealForm.controls['address'].invalid">
        <span *ngIf="createDealForm.controls['address'].errors?.['required']">Mandatory field.</span>
      </mat-error>
    </mat-form-field>

    <!-- DEAL NOI -->
    <mat-form-field class="form-section__input" appearance="outline">
      <mat-label>Net Operating Income:</mat-label>
      <input matInput formControlName="noi" type="number">
      <mat-error *ngIf="createDealForm.controls['noi'].touched && createDealForm.controls['noi'].invalid">
        <span *ngIf="createDealForm.controls['noi'].errors?.['required']">Mandatory field.</span>
      </mat-error>
    </mat-form-field>

    <!-- SEND BUTTON -->
    <section class="button-section">
      <button type="submit" mat-raised-button color="accent" [disabled]="createDealForm.invalid">Save Deal</button>
    </section>

  </form>

</section>